.user_popup{   
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 5px 50px 5px lightgrey;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 100px;
    position: absolute;
    z-index: 10;
}

p{
    font-size: 20px;
}

.current_user img{
    height: 120px;
    width: 120px;
}

.btn{
    width: 100%
    ;
}